### Budget

In [4]:
import pandas as pd
import json as json

In [5]:
tax = pd.read_csv("taxtable.csv")

In [6]:
tax.head()

          id                                       name      amount
0          1                                       Root         NaN
1        1.1                                      Taxes  6,57,75,15
2      1.1.1  Taxes on Incom, profit, and capital gains  1,65,86,13
3    1.1.1.1      Pyable by individual and sole traders    38,78,96
4  1.1.1.1.1                Individual or Sole Traders     14,34,62

In [7]:
ID = tax["id"]
name = tax['name']
amount = tax["amount"]

In [ ]:
for i,n,a in zip(ID,name,amount):